*,
html {
  margin: 0px;
  padding: 0px;
}

body,
#root {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.table-book-info tbody th,
.table-book-info tbody td {
  padding-left: 0px;
  text-align: left;
}
